.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-auto-flow: dense;
  justify-items: center;
  align-items: flex-end;
}

.label {
  display: block;
  color: #aaaaaa;
  text-align: center;
  grid-row-start: 2;
}

.value {
  font-weight: bold;
  margin: 0;
  grid-row-start: 1;
}
