.wrapper {
  border-bottom: 1px dotted #cccccc;
  margin-bottom: 3em;
  padding-bottom: 1em;
}

.menu a:any-link {
  color: dodgerblue;
  text-decoration: none;
}
.menu a:hover {
  text-decoration: underline;
}
